body{
    background-color: #FFF;
  }
  #container {
    background-color: #DDD;
    padding: 15px;
    margin: 15px;
  }
  #cart-container {
    width: 150%;
    background-color: #a56267d0;
    color: #EEE;
    padding: 15px;
  }
  #newsletter-frequency {
    display: none;
  }
  .item {
    width: 240px;
    background-color: #c0addd;
    padding: 8px;
    float: left;
    margin: 4px;
  }
  .item img {
    width: 150%;
  }
  .item .name {
    font-size: 26px;
  }
  .item .price {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .item .more-info {
    display: none;
  }
